
//- # party - index

extends ../layout

block content

  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Parties (#{parties.length})
        p: a(href='/parties/new') Create New Party
        table.table.table-bordered.table-hover.table-striped
          thead
            th Party Name
            th Code
            th Created At
            th Updated At
            th Actions
          tbody
            each party in parties
              tr
                td= party.name
                td= party.id
                td= moment(party.created_at).format('MM/DD/YY')
                td= moment(party.updated_at).format('MM/DD/YY')
                td
                  ul.list-inline
                    li: a(href='/parties/' + party.id).btn.btn-sm.btn-info View
                    li: a(href='/parties/' + party.id + '/edit').btn.btn-sm.btn-warning Edit
                    li
                      form(action='/parties/' + party.id + '?_method=DELETE', method='POST').form-inline
                        input(type='hidden', name='_csrf', value=csrf)
                        button(type='submit').btn.btn-sm.btn-danger Remove
        include ../_paginate

  .container
    .row
      .col-md-8.col-md-offset-2
        form(action='/parties', method='GET')
          input(type='hidden', name='_csrf', value=csrf)

          .form-group
            label.control-label Party Code
            input(type='text', name='partyCode', placeholder='Enter Party Code', required).form-control
          button(type='submit').btn.btn-lg.btn-primary.btn-block Join a Party!
