
//- # song - index

extends ../layout

block content

  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Songs (#{songs.length})
        p: a(href='/parties/' + partyId + '/songs/new') Create New Song
        table.table.table-bordered.table-hover.table-striped
          thead
            th Genre
            th Title
            th Artist
            th Party
            th Actions
          tbody
            each song in songs
              tr
                td= song.genre
                td= song.title
                td= song.artist
                td= song.partyId
                td
                  ul.list-inline
                    li
                      form(action='/parties/' + '54f8960aff1932f0230ef94e' + '/songs/' + song.id + '?_method=DELETE', method='POST').form-inline
                        input(type='hidden', name='_csrf', value=csrf)
                        button(type='submit').btn.btn-sm.btn-danger Remove
        include ../_paginate
    .container
        .row
          .col-md-8.col-md-offset-2
            h2 Add a Song!
            form(action='/parties', method='GET')
              input(type='hidden', name='_csrf', value=csrf)

              .form-group
                label.control-label Genre
                input(type='text', name='partyCode', placeholder='Genre').form-control
              .form-group
                label.control-label Title
                input(type='text', name='partyCode', placeholder='Title').form-control
              .form-group
                label.control-label Artist
                input(type='text', name='partyCode', placeholder='Artist', required).form-control
              button(type='submit').btn.btn-lg.btn-primary.btn-block Search
